html,
body,
.full-height {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="button"] {
  outline: none;
}

input[type="button"]::-moz-focus-inner {
  border: 0;
}
