html,
body,
.full-height {
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #000000;

  -webkit-text-size-adjust: none !important;
}

body,
button {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="button"] {
  outline: none;
}

input[type="button"]::-moz-focus-inner {
  border: 0;
}
